#all-comics-main {
  height: 100%;
  width: 100%;
  @include flex(row, center, space-evenly);
  flex-wrap: wrap;
}

.all-comics-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  margin: 5px 10px;
  text-decoration: none;
  color: black;
}

.all-comics-image {
  @include flex(row, flex-start, flex-end);
  height: 220px;
  width: 140px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 10px 10px 20px 10px;
}

.all-comics-info-div {
  @include flex(column, center, space-evenly);
}

.all-comics-info-div p { 
  display: flex;
  align-items: center;
  text-align: center;
  padding: 2px;
  margin: 0;
  font-size: 0.8em;
  max-width: 140px;
  height: 40px;
  white-space: wrap;
}

.all-comics-favourite-btn {
  color: white;
  padding: 3px;
  height: 2.2em;
  width: 2.2em;
}

.bi-chat-heart {
  height: 2em;
  width: 2em;
}

// Filter Nav Menu
.filter-nav-comics-all {
  height: 50px;
  width: 100%;
  background-color: ($lightRed);
  margin-bottom: 10px;
}

#basic-nav-dropdown {
  color: white;
}

.character-dropdown .dropdown-menu.show {
  height: 50vh;
  overflow-y: auto;
}

#filter-nav {
  @include flex(row, center, space-evenly);
  max-width: 800px;
  list-style: none;
  width: 90vw;
  margin: 0 auto;
  padding: 1px;
  flex-wrap: nowrap;
}