.single-comic-main {
  height: 100%;
  width: 100%;
}

.single-page-title {
  font-size: 3em;
  text-transform: uppercase;
  @media (max-width:767px) {
    text-align: center;
  }
}

.single-page-top {
  @include flex(row, center, space-evenly);
  width: 90vw;
  height: auto;
  margin: 10px auto;
  @media (max-width:767px) {
    @include flex(column, center, space-evenly);
  }
}

.single-page-image {
  height: 380px;
  width: 240px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 10px;
  padding: 25px 10px;
  background-color: white; 
}

.single-page-information {
  @include flex(column, flex-start, space-evenly);
  width: 50%;
  min-height: 420px;
  padding: 2em;
  @media (max-width:767px) {
    width: 80%;
    align-items: center;
  }
}

.single-page-image.character {
  background-position: top;
}

p {
  margin: 0.5em 0;
  padding: 0;
}
// Authors and Artists
.single-page-names {
  font-size: 1.2em;
}

.single-page-description {
  font-size: 1.0em;
  text-transform: none;
  @media (max-width:767px) {
    text-align: center;
  }
}

.single-page-date {
  font-size: 0.9em
}

// Character Menu
.single-page-linked-content {
  @include flex(row, center, flex-start);
  overflow: auto;
  white-space: nowrap;
  padding: 20px;
  scroll-snap-type: x proximity;
}

// Character Div
.content-div {
  margin: 10px 25px;
  scroll-snap-align: center;
}

.home-char-image.single-page {
  background-position: top;
}
