header {
  @include flex(row, center, space-between);
  height: 120px;
  width: 100vw;
  background-color: ($lightRed);
}

header a {
  color: ($white);
  text-transform: uppercase
}

h1 {
  @include flex(row, center, center);
  align-items: center;
  background-color: ($darkRed);
  padding: 0.6em;
  max-width: 50vw;
  border-radius: 9px;
  text-align: center;
  height: 90px;
  flex-grow: 3;
}

h1 a {
  font-size: 1.2em;
}

#header-left-div {
  @include flex(row, center, space-evenly);
  width: 25%;
}

#header-right-div {
  @include flex(row, center, space-evenly);
  width: 25%;
}
